
<!DOCTYPE html>
<html lang="en" data-ng-app="@ViewBag.NgApp">
  <head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
  </h>
  <body class="container-fluid" data-ng-controller="@ViewBag.NgController">
      <header class="row">
          <div class="col-xs-12">
            Header
          </div>
      </header>
      <div id="body" class="row">
          @*@RenderSection("featured", required: false)*@
          <div class="col-xs-12 main-content">
              @RenderBody()
          </div>
      </div>
      <footer class="row">
        <div class="col-xs-12">
          Footer
          </div>
      </footer>

       <script type="text/javascript">_appRoot = '@Url.Content("~/")';</script>
      @Scripts.Render("~/bundles/jquery")
      @RenderSection("scripts", required: false)
  </body>
</html>
